div{
	width:100px;
	height: 100px;
	background-color: blue;
	position :absolute;
	top :0px;
	left:  0px;
	right:0px;
	bottom :0px;
	
}

/*.top{
	position : absolute;
	top :10px;
	
}

.left {
	position : absolute;
	left:  10px;
	
}

.right {
	position : absolute;
	right:10px;
	
}

.bottom{
	position : absolute;
	bottom :10px;
}*/	