body{
	
	width:900px;
	margin: auto;
	background-color: #f8fff2;
}
h1{
	color: #27948a;
}

h2{
	text-align: center;
}

th{
	color:#27948a;
}

table tr:nth-child(even){
	background-color:grey;


}

td{
	width:25%;
	margin: 0;

}


table{
	width:100%;
	text-align: center;
	border-collapse: collapse;
}

